/* Global Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styles */
header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #ccc;
}

/* Hero Section Styles */
.hero {
    background-image: url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: left;
    align-items: left;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #cfb863;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    background: url("hero.jpg");
    background-color: #cfb863;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    background-color: #cfb863;
    color: #000;
}

/* Content Section Styles */
.content {
    padding: 60px 20px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* Footer Styles */
footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
