/* Global Styles */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styles */
header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: #ccc;
}

/* Hero Section Styles */
.hero {
    background-image: url("./images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: left;
    align-items: left;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #cfb863;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    /* background: url("hero.jpg"); */
    background-color: #cfb863;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

.btn:hover {
    background-color: #cfb863;
    color: #000;
}

/* Content Section Styles */
.content {
    padding: 60px 20px;
}

.content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* Footer Styles */
footer {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

/* Navbar Styles */
.navbar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: #333; */
    /* padding: 10px 20px; */
    color: white;
}

/* .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
} */

.navbar-menu {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin-right: 15px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    /* padding: 10px 15px; */
    display: block;
}

.navbar-menu li a:hover {
    background-color: #575757;
}

/* Dropdown Styles */
.navbar-dropdown {
    display: none; /* Hidden by default */
}

.dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #333; */
    min-width: 160px;
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); */
    z-index: 1;
}

.dropdown-content li a {
    padding: 10px;
}

/* .dropdown-content li a:hover {
    background-color: #575757;
} */

.navbar-dropdown.active .dropdown-content {
    display: block;
}

.navbar-toggle {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
    }

    .navbar-dropdown {
        display: none; 
    }

    .dropdown-content {
        position: relative;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .navbar-toggle {
        display: block;
        font-size: 1.5em;
        cursor: pointer;
        float: right;
    }

    .navbar-dropdown.active{
        background-color: #1e1e1e;
        color: #fff;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: right;
    }
}


/* others */
.navbar-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-dropdown li {
    margin-left: 20px;
}

.navbar-dropdown a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.navbar-dropdown a:hover {
    color: #ccc;
}
